@model  HandmadeItemMarket.Models.EntityModels.BlogPost


@{
    ViewBag.Title = "Details";
}
<section>
    <div class="container">
        <div class="row">
            <!--Sidebar-->
            @Html.Partial("_Sidebar")
            <!--Sidebar-->

            <div class="col-sm-9 padding-right">
                <h2>Details</h2>

                <div>
                    <h4>BlogPost</h4>
                    <hr />
                    <div class="blog-post-area">
                        <h2 class="title text-center">Latest From our Blog</h2>
                        <div class="single-blog-post">
                            <h3 style="alignment: center">@Model.Title</h3>
                            <div class="post-meta">
                                <ul>
                                    <li><i class="fa fa-user"></i> @Model.Poster.UserName</li>
                                    <li><i class="fa fa-clock-o"></i> @Model.DatePosted.Hour:@Model.DatePosted.Minute</li>
                                    <li><i class="fa fa-calendar"></i> @Model.DatePosted.Date.Day-@Model.DatePosted.Date.Month-@Model.DatePosted.Date.Year</li>
                                </ul>
                                @*<span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </span>*@
                            </div>
                            <a href="">
                                <img src="@Model.Image" alt="">
                            </a>

                            @*<div class="pager-area">
                                    <ul class="pager pull-right">
                                        <li><a href="#">Pre</a></li>
                                        <li><a href="#">Next</a></li>
                                    </ul>
                                </div>*@
                        </div>
                        <div class="common-modal modal fade" id="common-Modal1" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-content">
                                <ul class="list-inline item-details">
                                    <li><a href="http://themifycloud.com">ThemifyCloud</a></li>
                                    <li><a href="http://themescloud.org">ThemesCloud</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!--/blog-post-area-->
                </div>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
        
        <hr>
        <form action="/blog/comment/@Model.Id">
            <button class="btn btn-lg btn-primary">Comment</button>
        </form>
        <br />
        @foreach (var item in Model.Comments)
        {
            <div class="row">
                <div style="border: gray; border-style: solid;border-width: thin">
                    <div class="col-sm-3">
                        <ul>
                            <li><i class="fa fa-user"></i> @item.Poster.UserName</li>
                            <li><i class="fa fa-clock-o"></i> @item.DatePosted.Hour:@item.DatePosted.Minute</li>
                            <li><i class="fa fa-calendar"></i> @item.DatePosted.Date.Day-@item.DatePosted.Date.Month-@item.DatePosted.Date.Year</li>
                        </ul>
                    </div>
                    <div class="col-sm-9">@item.Text</div>
                </div>
            </div>
        }
    </div>
</section>